<!DOCTYPE HTML>
 <html>
 <head>
  <title>Supercomputers</title>
  <link rel="stylesheet" type="text/css" href="/CSS Documents/Supercomputers style.css">
 </head>


 <body>
  <body style="background-color: white;">
  <div id="wrapper">
   <header>
    <h1 style="position: relative; left: 17px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;">SUPERCOMPUTERS</h1>
   </header>

   <hr class="navbar-border">
   </div>
   <ul>
    <li><a href="index.html">Home</a></li>
    <li><a class="focus" href="meer_info.html">Meer informatie</a></li>
    <li><a href="tijdlijn.html">Tijdlijn</a></li>
  </ul> 

  <h1 style="font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;"><center>De krachtigste computer ooit</h1></center>
  <p>Ud varios id <span class="blue"><b>velit</b><span class="black"> lobortis pharetra. Vestibulum ante ipsum primis in faucibus orci<br>
  luctus et ultrices posuere cubilla Curae; Etiam bibendum urna et ex mollis facillisis. In a <br>
nulla ut neque gravida euismod quis eu odio.</p>




<p>Ut nec dictum velit. Vestibulum vitae rhoncus est. Morbi commodo in metus eu lacinia.<br>
Nam gravida risus at euismod rhoncus. Integer lorem ex, dapibus a magna sed, sodales <br>
porttitor massa. Maecenas nec lacus dolor. Etiam nec justo justo.</p>

<div id="image2">
<img style="position: relative; width: 150px; height: 150px; left: 550px;" src="/HTML Documents/HTML Images/Analytical Engine.jpg">
</div>

<h3 style= "position: relative; display: inline; left: 10px; bottom: -670px;">Volg Supercomputers</h3>
<img style= "position: relative; display: inline; left: -188px; bottom: -800px; height: 120px; width: 120px;" src="/HTML Documents/HTML Images/email_icon_176616.png">
<img style= "position: relative; display: inline; left: -185px; bottom: -768px; height: 60px; width: 60px;" src="/HTML Documents/HTML Images/Facebook_icon_2013.svg.png">
<img style= "position: relative; display: inline; left: -162px; bottom: -768px; height: 60px; width: 60px;" src="/HTML Documents/HTML Images/174857.png">
<img style= "position: relative; display: inline; left: -140px; bottom: -768px; height: 60px; width: 60px;" src= "/HTML Documents/HTML Images/124021.png">

<h3 style= "color: #00c9fd; position: relative; display: inline; left: 400px; bottom: -670px;">Ga naar de contactpagina</h3>

<div class="footer">
  <footer>@ 2021 | Riza Incedal</footer>

    </div>
   </body>
   </html>