<!DOCTYPE HTML>
 <html>
 <head>
  <title>Supercomputers</title>
  <link rel="stylesheet" type="text/css" href="/CSS Documents/Supercomputers style.css">
 </head>


 <body>
  <div id="headwrapper">
   <header>
    <h1 style="position: relative; left: 14px; font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif; display: inline;">SUPERCOMPUTERS</h1>
   </header>
 
   <hr>
    
   <ul>
    <li><a class="focus" href="index.html">Home</a></li>
    <li><a href="meer_info.html">Meer informatie</a></li>
    <li><a href="tijdlijn.html">Tijdlijn</a></li>
   </div>
  </ul> 

<div id="bigimage"></div>
<img style="height: 550px; width: 100%" src="/HTML Documents/HTML Images/Titan.jpg">
 <div class="container">
  <div class="text-block">
  <p style="font-size:14px; padding: 10px; position: absolute; bottom: 30px; right: 30px; color:#00c9fd;"><b>Lorem</b><br>
  Ipsum dolor sit amet, consectetur adipsicing elit</p>
  </div>
   

<h3 style= "position: relative; display: inline; left: 10px; bottom: -670px;">Volg Supercomputers</h3>
<img style= "position: relative; display: inline; left: -188px; bottom: -800px; height: 120px; width: 120px;" src="/HTML Documents/HTML Images/email_icon_176616.png">
<img style= "position: relative; display: inline; left: -185px; bottom: -768px; height: 60px; width: 60px;" src="/HTML Documents/HTML Images/Facebook_icon_2013.svg.png">
<img style= "position: relative; display: inline; left: -162px; bottom: -768px; height: 60px; width: 60px;" src="/HTML Documents/HTML Images/174857.png">
<img style= "position: relative; display: inline; left: -140px; bottom: -768px; height: 60px; width: 60px;" src= "/HTML Documents/HTML Images/124021.png">

<h3 style= "color: #00c9fd; position: relative; display: inline; left: 400px; bottom: -670px;">Ga naar de contactpagina</h3>


   
  

<div class="footer">
  <footer>@ 2021 | Riza Incedal</footer>
  </div>
 </body>
 </html>
